.wrapper {
  display: flex;
  font-size: 20px;
  align-items: center;
}

.avatar {
  margin-right: 0.5rem;
}

.lightTheme {
  display: none;
}

.darkTheme {
  display: none;
}

body[data-theme='light'] .lightTheme {
  display: block;
}

body[data-theme='dark'] .darkTheme {
  display: block;
}
