.App {
  text-align: center;
  overflow-x: hidden;
}

body {
  margin: 0;
  --accentColor: #add8e6;
  --whiteColor: #fff;
  --blackColor: black;
}

body[data-theme='light'] {
  background-color: var(---whiteColor);
}

body[data-theme='dark'] {
  background-color: var(--blackColor);
}

.Header {
  display: flex;
}
